@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.nav-item {
    margin-right: 16px;
}

.nav-item.active a {
    color: #83D987 !important;
    font-weight: 600 !important;
}

.nav-item a {
    color: #9094A2 !important;
    font-weight: 200;
}

/* End Navbar */


/* Responsive Area */

/* Mobile UI */

@media screen and (max-width: 513px) {
    /* .navbar-nav {
        text-align: right;
    } */
    /* 
    .nav-link span {
        text-align: right;
    } */
}