.box{
    width: 100%;
    height: 100%;
    background-color: white;
    margin:0 50px;
}
.box-header{
    background-color:#83D987;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bg{
    background-color: #F1F1F1;
    height: 400px;
}