@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Page - Index.html */
/* Navbar */

.navbar {
    margin-bottom: 150px;
}

.nav-item {
    margin-right: 16px;
}

.nav-item.active a {
    color: #83D987 !important;
    font-weight: 600 !important;
}

.nav-item a {
    color: #9094A2 !important;
    font-weight: 200;
}

.btn-masuk{
    padding: 12px 50px;
    background-color: #83D987;
}
/* End Navbar */

/* Header */
.header {
    padding: 120px 0;
}

.header-desc h1{
    color: #0F1D37;
    font-weight: 700;
}

.btn-mulai {
    padding: 20px 40px;
    background-color: #83D987;
    border-radius: 12px;
    box-shadow: -1px 23px 32px -17px rgba(31, 31, 31, 0.75);
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

/* Benefit */

.benefit{
    margin-top: -50px;
}
.benefit-text h2{
    color: #0F1D37;
    font-weight: 700;
}

/* End Benefit */

/* Event Webinar */

.event-text h2{
    color: #0F1D37;
    font-weight: 700;
}

.btn-beliTiket{
    background-color: #65D9E4;
    padding: 7px;
    border-radius: 6px; 
    color: #EBFAFC;
}

/* End Event Webinar */

.section-footer{
    background-color: #C6F3C8;
}
/* End Page - Index.html */

/* Page - Login.html  */
.btn-login{
    background-color: #83D987;
}

.login-container {
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, #fff), color-stop(40%, #E4E6EB));
    background: linear-gradient(90deg, #fff 60%, #E4E6EB 40%);
    width: 100vw;
    height: 100vh;
  }

  .page-login {
    height: 100vh;
  }
  
  .page-login .btn-login {
    background-color: #83D987;
    color: #fff;
    -webkit-box-shadow: 0 4px 0 #5e5e5e;
            box-shadow: 0 4px 0 #5e5e5e;
    cursor: pointer;
  }
  
  .page-login .btn-login:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 4px;
    border: none;
    position: relative;
  }

/* Page - Classroom.html */
.bg{
    background-color: #F1F1F1;
    height: 580px;
    padding: 180px 0 180px;
}

.box{
    width: 100%;
    height: 100%;
    background-color: white;
    margin:0 50px;
}
.box-header{
    background-color:#83D987;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* End Classroom */

/* Responsive Area */
/* Mobile UI */
@media screen and (max-width: 513px) {
    /* .navbar-nav {
        text-align: right;
    } */
    /* 
    .nav-link span {
        text-align: right;
    } */
}