@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar {
    margin-bottom: 150px;
}

.nav-item {
    margin-right: 16px;
}

.nav-item.active a {
    color: #83D987 !important;
    font-weight: 600 !important;
}

.nav-item a {
    color: #9094A2 !important;
    font-weight: 200;
}
/* End Navbar */


/* Classroom.html */
.bg{
    background-color: #F1F1F1;
    height: 580px;
    padding: 180px 0 180px;
}

.box{
    width: 100%;
    height: 100%;
    background-color: white;
    margin:0 50px;
}
.box-header{
    background-color:#83D987;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* End Classroom */

/* Responsive Area */
/* Mobile UI */
@media screen and (max-width: 513px) {
    /* .navbar-nav {
        text-align: right;
    } */
    /* 
    .nav-link span {
        text-align: right;
    } */
}